body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #34495e;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    max-width: 400px;
    width: 100%;
    border: 2px solid #2c3e50;
    border-radius: 10px;
}

.display {
    text-align: right;
    font-size: 2em;
    padding: 10px;
    border-radius: 5px;
    background-color: #2c3e50;
    color: white;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
}

.row {
    margin-bottom: 5px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 1.2em;
    border-radius: 5px;
}

.btn-secondary {
    background-color: #95a5a6;
    color: #2c3e50;
}

.btn-warning {
    background-color: #e67e22;
    color: white;
}

.btn-success {
    background-color: #27ae60;
    color: white;
}

.btn-info {
    background-color: #3498db;
    color: white;
}

button:hover {
    opacity: 0.8;
}
